<section class="about" id="about">
  <div class="custom-container">
    <h2 class="about__title">Про нас</h2>

    <div class="about__post">
      <picture>
        <source srcset="images/customer.webp" type="image/webp" />
        <img
          class="about__img"
          loading="lazy"
          width="1407"
          height="675"
          src="images/customer.jpg"
          alt="Продавець меблів консультує покупців в салоні"
        />
      </picture>
      <article class="card is-hidden" data-show-holder>
        <p>
          <span class="card__brand">Furniture</span> &#8211; lorem ipsum dolor sit amet consectetur
          adipisicing elit. Suscipit velit est iste, temporibus, illum omnis, iure quo fugiat quis
          exercitationem distinctio possimus voluptas voluptate consectetur molestiae.Lorem, ipsum
          dolor sit amet consectetur adipisicing elit. Blanditiis eveniet, animi nam harum beatae
          mollitia!
        </p>
        <button class="btn btn-primary show-text__button" data-show-more type="button">
          Читати далі
        </button>
        <div class="toggle-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem facilis
            reprehenderit laudantium molestias nam repellendus aliquam ullam adipisci cumque
            quisquam numquam perspiciatis ex nostrum voluptatibus sapiente. Lorem, ipsum dolor sit
            amet consectetur adipisicing elit. Blanditiis eveniet, animi nam harum beatae mollitia!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aperiam consequatur
            molestias eligendi recusandae ratione, voluptas nam hic molestiae dolorum, tempora
            minima odio libero quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Suscipit, aperiam hic provident commodi obcaecati quibusdam quo aspernatur iste sapiente
            laborum voluptates consequuntur laboriosam, blanditiis modi.
          </p>
          <div class="text-center">
            <button class="btn btn-primary hide-text__button" data-show-less type="button">
              Згорнути
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
