<section class="advantages d-none d-md-block d-xl-none">
  <div class="container">
    <h2 class="advantages__title">Наші переваги</h2>
    <div
      id="carousel-benefit-tab"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-2">
                <img class="img-fluid img-darken" src="images/advantages/kitchen.jpg" alt="Кухня" />
                <div class="carousel-caption">
                  <h5 class="carousel-caption__title">Меблі преміум класу</h5>
                  <div class="carousel-caption__wrapper-text">
                    <p class="carousel-caption__text">
                      Ми виготовляємо меблі преміум классу з найякіснішої сировини та з дотриманням
                      усіх вимог клієнта
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-2">
                <img
                  class="img-fluid img-darken"
                  src="images/advantages/team.jpg"
                  alt="Команда спеціалістів за столом"
                />
                <div class="carousel-caption">
                  <h5 class="carousel-caption__title">Надійність</h5>
                  <div class="carousel-caption__wrapper-text">
                    <p class="carousel-caption__text">
                      За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                      Вінницької області та України
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-2">
                <img
                  class="img-fluid img-darken"
                  src="images/advantages/truck.jpg"
                  alt="Вантажівка"
                />
                <div class="carousel-caption">
                  <h5 class="carousel-caption__title">Безкоштовна доставка</h5>
                  <div class="carousel-caption__wrapper-text">
                    <p class="carousel-caption__text">
                      Ми пропонуємо безкоштовну доставку у будь-яке місто або населений пункт
                      України
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-2">
                <img
                  class="img-fluid img-darken"
                  src="images/advantages/sbor.jpg"
                  alt="Майстер складає меблі"
                />
                <div class="carousel-caption">
                  <h5 class="carousel-caption__title">Команда майстрів</h5>
                  <div class="carousel-caption__wrapper-text">
                    <p class="carousel-caption__text">
                      Ми надаємо послуги зі збирання та складання меблів командою професійних
                      майстрів
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <img
              class="img-fluid img-darken"
              src="images/advantages/stenka.jpg"
              alt="Шафа з полицями та місцем для телевізора"
            />
            <div class="carousel-caption">
              <h5 class="carousel-caption__title">Індивідуальний підхід</h5>
              <div class="carousel-caption__wrapper-text">
                <p class="carousel-caption__text">
                  Ми виготовляємо меблі під замовлення у найкоротші терміни
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-2">
            <img class="img-fluid img-darken" src="images/advantages/bedroom.jpg" alt="Спальня" />
            <div class="carousel-caption">
              <h5 class="carousel-caption__title">Кредит</h5>
              <div class="carousel-caption__wrapper-text">
                <p class="carousel-caption__text">
                  Ви можете замовити меблі вже сьогодні, а розрахуватися пізніше.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <button
        class="carousel-control-prev carousel-benefit__control--left"
        type="button"
        data-bs-target="#carousel-benefit-tab"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Попередній</span>
      </button>
      <button
        class="carousel-control-next carousel-benefit__control--right"
        type="button"
        data-bs-target="#carousel-benefit-tab"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Наступний</span>
      </button>
    </div>
  </div>
</section>
