<section class="category">
  <div class="container">
    <h2 class="category__title">Категорії товарів</h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6 category__box">
      <div class="col pb-3">
        <a class="category__link align-items-center d-flex flex-column" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#couch"></use>
          </svg>
          <span class="category__link-text">Дивани</span>
        </a>
      </div>
      <div class="col pb-3">
        <a class="category__link d-flex flex-column align-items-center" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#bedroom"></use>
          </svg>
          <span class="category__link-text">Ліжка</span>
        </a>
      </div>
      <div class="col pb-3">
        <a class="category__link d-flex flex-column align-items-center" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#armchair"></use>
          </svg>
          <span class="category__link-text">Крісла</span>
        </a>
      </div>
      <div class="col">
        <a class="category__link d-flex flex-column align-items-center" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#commode"></use>
          </svg>
          <span class="category__link-text">Комоди</span>
        </a>
      </div>
      <div class="col">
        <a class="category__link d-flex flex-column align-items-center" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#wardrobe"></use>
          </svg>
          <span class="category__link-text">Шафи</span>
        </a>
      </div>
      <div class="col">
        <a class="category__link d-flex flex-column align-items-center" href="#">
          <svg class="category__icon" width="100" height="100">
            <use href="images/icons.svg#kitchen"></use>
          </svg>
          <span class="category__link-text">Кухня</span>
        </a>
      </div>
    </div>
    <div class="category__catalogue">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3">
        <div class="col pb-4 pb-xl-5">
          <a href="" class="card">
            <img
              src="images/beds/ramona.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Рамона"
            />
            <div class="img__label">Новинка</div>
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Рамона</p>
              &nbsp;
              <p class="card-text__price">8 999 грн</p>
            </div>
          </a>
        </div>
        <div class="col pb-4 pb-xl-5">
          <a href="" class="card">
            <img
              src="images/beds/chester.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Честер"
            />
            <div class="img__label">Хіт продажу</div>
            <div class="img__label img__label--red-promo">Акція</div>
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Честер</p>
              <p class="card-text__price promo-price">
                8 999 грн <span class="promo-price--disabled">9 999 грн</span>
              </p>
            </div>
          </a>
        </div>
        <div class="col pb-4 pb-xl-5">
          <a href="" class="card">
            <img
              src="images/beds/venice.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Венеція Люкс"
            />
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Венеція Люкс</p>
              <p class="card-text__price accent-price">7 999 грн</p>
            </div>
          </a>
        </div>
        <div class="col pb-4">
          <a href="" class="card">
            <img
              src="images/beds/empire.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Імперія"
            />
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Імперія</p>
              <p class="card-text__price accent-price">6 999 грн</p>
            </div>
          </a>
        </div>
        <div class="col pb-4 pb-md-0">
          <a href="" class="card">
            <img
              src="images/beds/adel.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Адель"
            />
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Адель</p>
              <p class="card-text__price accent-price">8 999 грн</p>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="" class="card">
            <img
              src="images/beds/atlant.jpg"
              class="card-img-top"
              alt="Двоспальне ліжко модель Атлант"
            />
            <div class="img__label">Хіт продажу</div>
            <div class="img__label img__label--red-promo">Акція</div>
            <div class="card-body d-flex justify-content-between">
              <p class="card-text">Ліжко Атлант</p>
              <p class="card-text__price promo-price">
                8 999 грн <span class="promo-price--disabled">9 999 грн</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      <a class="btn btn-primary category__button" href="#" role="button">В каталог</a>
    </div>
  </div>
</section>
