<footer class="footer">
  <div class="custom-container d-flex">
    <div class="footer__link-up d-flex align-items-center justify-content-center">
      <a href="#header">
        <svg width="16" height="20">
          <use href="images/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>

    <div class="footer__wrapper d-flex flex-column">
      <a class="footer__brand" href="/">
        <svg class="footer__brand-icon" width="125" height="75">
          <use href="images/icons.svg#logo-white"></use>
        </svg>
        <span>F</span><span class="footer__brand--reverse">urniture</span>
      </a>

      <div class="footer__nav d-flex">
        <ul class="catalogue-nav">
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">Дивани</a>
          </li>
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">ліжка</a>
          </li>
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">Крісла</a>
          </li>
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">шафи</a>
          </li>
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">Кухні</a>
          </li>
          <li class="catalogue-nav__item">
            <a class="catalogue-nav__link" href="#">комоди</a>
          </li>
        </ul>

        <ul class="site-nav">
          <li class="site-nav__item">
            <a class="site-nav__link" href="#">Акції</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#">Доставка та оплата</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#">про нас</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#">контакти</a>
          </li>
        </ul>
        <address class="contacts">
          <a
            class="contacts__address"
            href="https://goo.gl/maps/1zHc8ASVaUb82tYC6"
            target="_blank"
            rel="nofollow noopener"
            ><svg class="contacts__icon" width="24" height="24">
              <use href="images/icons.svg#map"></use>
            </svg>
            м. Вінниця, <br />
            вул. Є. Пікуса, 1а</a
          >
          <p class="contacts__schedule">Пн-Пт, з 10 до 18</p>

          <a class="contacts__phone-link" href="tel:+380991112233">
            <svg class="contacts__phones-icon" width="24" height="24">
              <use href="images/icons.svg#call"></use>
            </svg>
            (099) 111 22 33</a
          ><br />
          <a class="contacts__phone-link" href="tel:+380992223344">(099) 222 33 44</a>
          <div class="contacts-socials">
            <p>Ми в соціальних мережах:</p>
            <ul class="contacts-socials__list d-flex">
              <li class="contacts-socials__item">
                <a class="contacts-socials__link" href="">
                  <svg class="contacts-socials__icon" width="40" height="40">
                    <use href="images/icons.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="contacts-socials__item">
                <a class="contacts-socials__link" href="">
                  <svg class="contacts-socials__icon" width="40" height="40">
                    <use href="images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="contacts-socials__item">
                <a class="contacts-socials__link" href="">
                  <svg class="contacts-socials__icon" width="40" height="40">
                    <use href="images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </address>
      </div>
      <p class="footer__copyright">&#169;ТОВ Furniture, працюємо з 2006 року</p>
    </div>

    <div class="footer__box-img">
      <picture>
        <source srcset="images/footer.webp" type="image/webp" />
        <img class="footer__img" loading="lazy" src="images/footer.jpg" width="1089" height="520" />
      </picture>
    </div>
  </div>
</footer>
