<header class="header">
  <!-- Desktop version of menu with navigation and contacts -->
  <div class="container mobile-hidden">
    <div class="main-menu d-flex">
      <div class="contacts-socials d-flex align-items-center">
        <p>Ми в соціальних мережах:</p>
        <ul class="contacts-socials__list d-flex align-items-center justify-content-center">
          <li class="contacts-socials__item">
            <a class="contacts-socials__link" href="">
              <svg class="contacts-socials__icon" width="40" height="40">
                <use href="images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-socials__item">
            <a class="contacts-socials__link" href="">
              <svg class="contacts-socials__icon" width="40" height="40">
                <use href="images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-socials__item">
            <a class="contacts-socials__link" href="">
              <svg class="contacts-socials__icon" width="40" height="40">
                <use href="images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="contacts-phones dropdown d-flex align-items-center">
        <a class="contacts-phones__link" href="tel:+380991112233">
          <svg class="contacts-phones__icon" width="24" height="24">
            <use href="images/icons.svg#call"></use>
          </svg>
          (099) 111 22 33</a
        >
        <a
          class="dropdown-toggle"
          href="#"
          id="dropdown-phones"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdown-phones">
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112244"
              >(099) 111 22 44</a
            >
          </li>
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112255"
              >(099) 111 22 55</a
            >
          </li>
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112277"
              >(099) 111 22 77</a
            >
          </li>
        </ul>
      </div>

      <nav class="site-menu nav" aria-label="Основна навігація по сайту">
        <a class="nav-link active" aria-current="page" href="./index.html">Головна</a>
        <a class="nav-link" href="#promo">Акції</a>
        <a class="nav-link" href="#delivery">Доставка та оплата</a>
        <a class="nav-link" href="#about">Про нас</a>
        <a class="nav-link" href="#contacts">Контакти</a>
        <div class="site-menu__underline"></div>
      </nav>
    </div>
    <div class="main-menu__underline"></div>

    <nav class="navbar navbar-expand-lg" aria-label="Навігація каталогом меблів">
      <div class="custom-container">
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Дивани
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ліжка
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Крісла
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Комоди
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Шафи
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Кухня
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
          </ul>
          <div class="nav-brand">
            <a class="navbar-brand nav-brand__logo" href="./index.html">
              <img
                src="images/logo.svg"
                alt="Логотип компании"
                width="125"
                height="75"
                class="d-inline-block align-text-top nav-brand__icon"
              /><span class="nav-brand__logo--text"
                >F<span class="nav-brand__logo--black">urniture</span></span
              >
            </a>
          </div>
          <div class="navbar-basket">
            <a class="navbar-basket__link" href="">
              <svg class="navbar-basket__icon" width="30" height="30">
                <use href="images/icons.svg#cart"></use>
              </svg>
              Кошик</a
            >
            <button type="button" class="btn btn-primary navbar-button">Замовити дзвінок</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- End of desktop version of menu -->

  <!-- Start of mobile version of menu-navigation -->

  <div class="container desktop-hidden">
    <nav class="navbar navbar-expand-lg mobile-menu" aria-label="Навігація каталогом меблів">
      <div class="custom-container d-flex flex-wrap align-items-center">
        <a class="me-auto" href="./index.html">
          <img
            src="images/logo.svg"
            alt="Логотип компании"
            width="62"
            height="39"
            class="d-inline-block nav-brand__icon--small"
          />
        </a>

        <a class="navbar-basket__link" href="">
          <svg class="navbar-basket__icon" width="30" height="30">
            <use href="images/icons.svg#cart"></use>
            &nbsp;
          </svg></a
        >

        <a
          class="dropdown-toggle mobile-menu__phone-icon"
          href="#"
          id="dropdown-phones"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg class="contacts-phones__icon" width="24" height="24">
            <use href="images/icons.svg#call"></use>
          </svg>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdown-phones">
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112244"
              >(099) 111 22 44</a
            >
          </li>
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112255"
              >(099) 111 22 55</a
            >
          </li>
          <li>
            <a class="dropdown-item contacts-phones__link" href="tel:+380991112277"
              >(099) 111 22 77</a
            >
          </li>
        </ul>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <nav class="site-menu-mobile__list" aria-label="Основна навігація по сайту">
            <a class="nav-link active" href="./index.html">Головна</a>
            <a class="nav-link" href="#promo">Акції</a>
            <a class="nav-link" href="#delivery">Доставка та оплата</a>
            <a class="nav-link" href="#about">Про нас</a>
            <a class="nav-link" href="#contacts">Контакти</a>
          </nav>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Дивани
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ліжка
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Крісла
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Комоди
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Шафи
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Кухня
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Модель№1</a></li>
                <li><a class="dropdown-item" href="#">Модель№2</a></li>
                <li><a class="dropdown-item" href="#">Модель№3</a></li>
                <li><a class="dropdown-item" href="#">Модель№4</a></li>
                <li><a class="dropdown-item" href="#">Модель№5</a></li>
                <li><a class="dropdown-item" href="#">Модель№6</a></li>
              </ul>
            </li>
          </ul>
          <div class="mobile-menu__button">
            <button type="button" class="btn btn-primary navbar-button">Замовити дзвінок</button>
          </div>

          <ul class="contacts-socials__list d-flex align-items-center justify-content-between">
            <li class="contacts-socials__item">
              <a class="contacts-socials__link" href="">
                <svg class="contacts-socials__icon" width="40" height="40">
                  <use href="images/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="contacts-socials__item">
              <a class="contacts-socials__link" href="">
                <svg class="contacts-socials__icon" width="40" height="40">
                  <use href="images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="contacts-socials__item">
              <a class="contacts-socials__link" href="">
                <svg class="contacts-socials__icon" width="40" height="40">
                  <use href="images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
