<section class="hero">
  <div class="custom-container">
    <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/bed.jpg" class="d-block w-100" alt="Ліжко Орнелла" />

          <div class="carousel-overlay">
            <div class="carousel-overlay__text">
              <p class="carousel-overlay__promo">Новинка!</p>
              <h2 class="carousel-overlay__title">Ліжко <span lang="en">Ornella</span></h2>
              <p class="carousel-overlay__description">Це новий рівень комфортного сну</p>
              <a class="carousel-overlay__link btn btn-primary" role="button" href="#"
                >Детальніше</a
              >
              <div class="carousel-overlay__counter">
                01<span class="carousel-overlay__counter-number">&nbsp;03</span>
              </div>
            </div>

            <div class="carousel-overlay__control">
              <button
                type="button"
                class="carousel-overlay__control--left"
                data-bs-target="#carouselFade"
                data-bs-slide="prev"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselFade"
                data-bs-slide="next"
                class="carousel-overlay__control--right"
              ></button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/ramona_bed.jpg" class="d-block w-100" alt="Ліжко Рамона" />

          <div class="carousel-overlay">
            <div class="carousel-overlay__text">
              <p class="carousel-overlay__promo">Акція!</p>
              <h2 class="carousel-overlay__title">Ліжко <span lang="en">Ramona</span></h2>
              <p class="carousel-overlay__description">Це новий рівень комфортного сну</p>
              <a class="carousel-overlay__link btn btn-primary" role="button" href="#"
                >Детальніше</a
              >
              <div class="carousel-overlay__counter">
                02<span class="carousel-overlay__counter-number">&nbsp;03</span>
              </div>
            </div>

            <div class="carousel-overlay__control">
              <button
                type="button"
                class="carousel-overlay__control--left"
                data-bs-target="#carouselFade"
                data-bs-slide="prev"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselFade"
                data-bs-slide="next"
                class="carousel-overlay__control--right"
              ></button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/divan-web-lux.jpg" class="d-block w-100" alt="Диван Люкс" />

          <div class="carousel-overlay">
            <div class="carousel-overlay__text">
              <p class="carousel-overlay__promo">Доставка!</p>
              <h2 class="carousel-overlay__title">Диван <span lang="en">Lux</span></h2>
              <p class="carousel-overlay__description">Краса і зручність диванів Люкс</p>
              <a class="carousel-overlay__link btn btn-primary" role="button" href="#"
                >Детальніше</a
              >
              <div class="carousel-overlay__counter">
                03<span class="carousel-overlay__counter-number">&nbsp;03</span>
              </div>
            </div>

            <div class="carousel-overlay__control">
              <button
                type="button"
                class="carousel-overlay__control--left"
                data-bs-target="#carouselFade"
                data-bs-slide="prev"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselFade"
                data-bs-slide="next"
                class="carousel-overlay__control--right"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
